@model Tuple<List<Category>, String>
@{
    ViewData["Title"] = Model.Item2;
}

<div class="container">

    <div class="d-flex justify-content-between align-items-center mt-3 mb-3">
        <div class="p-2 fs-3">@Model.Item2</div>
        <div class="p-2"><a asp-controller="Category" asp-action="Create" class="btn btn-info"><i class="far fa-plus"></i> New Category</a></div>
    </div>
    



    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Display Order</th>
                <th scope="col">DateTime</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Item1)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td>@item.DisplayOrder</td>
                    <td>@item.CreatedDateTime</td>
                </tr>

            }


        </tbody>
    </table>
</div>

